html {
    font-size: clamp(14px, 1vw + 10px, 18px);
}

body {
    background-color: #0f1f16;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Droid Serif", serif;
    font-weight: 300;
    letter-spacing: 0.07em;
    font-size: 1rem;
    line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #4caf50;
}
